  /* Form progress2 */
  .progress2 {
    width: 1000px;
    height: 100px;
    overflow: visible;
    margin: 20px auto;
    text-align: center;
  }
  .progress2 .circle2,
  .progress2 .bar2 {
    display: inline-block;
    background: #fff;
    width: 58px; height: 58px;
    border-radius: 58px;
    border: 1px solid #d5d5da;
  }
  .progress2 .bar2 {
    position: relative;
    width: 80px;
    height: 10px;
    margin: 0 -5px 67px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .progress2 .circle2 .label2 {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .progress2 .circle2 .title2 {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
  }
  
  /* Done / Active */
  .progress2 .bar2.done,
  .progress2 .circle2.done {
    background: #eee;
  }
  .progress2 .bar2.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
  }
  .progress2 .circle2.done .label2 {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress2 .circle2.done .title2 {
    color: #444;
  }
  .progress2 .circle2.active .label2 {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .progress2 .circle2.active .title2 {
    color: #0c95be;
  }